<%
current_time = Time.now.change(usec: 0).in_time_zone('America/Los_Angeles')
if (current_time.month != 1)
  wmpt = (current_time.year * 100 + (current_time.month - 1))
else
  wmpt = ((current_time.year - 1) * 100 + 12)
end
%>

<h1>Allocations</h1>

<table border="1" cellspacing="0" cellpadding="20">
<% @allocations.each do |allocation| %>
  <tr>
    <td><%= allocation.group %></td>
    <td><%= allocation.values %></td>
    <td><% if allocation.group == "values" %><%= link_to 'Edit', edit_allocation_path(allocation) %><% end %></td>
  </tr>
<% end %>
</table>

<br />
<h1>Send Emails</h1>
<p><%= link_to "Send Test Emails", send_test_emails_allocations_path, :remote => true, :style => "background-color: #FFFFBB; border: 1px solid black; padding: 10px 20px;", :onclick => "alert('Test emails started!')" %>
<%= link_to "Send Real Emails", send_real_emails_allocations_path, :remote => true, :style => "background-color: #FFFFBB; border: 1px solid black; padding: 10px 20px;", :onclick => "$('#real_emails_link').toggle(); alert('Real emails started!  Do NOT click this again!!!');", :id => "real_emails_link", :hidden => true %></p>
<p><a href="#" onclick="$('#real_emails_link').toggle();">Show/Hide "Send Real Emails" Link</a></p>

<br />
<h1>Debug Information</h1>
<p>
Current Time: <%= current_time %><br />
WMPT: <%= wmpt %><br />
</p>

<style>
body {
  padding: 20px;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

</style>