<div id="header">
	<div class="content">
		<div id="logo" onclick="window.location.replace('/');" style="cursor: pointer;">
			<div id="logo-line-1">msft401k</div>
			<div id="logo-line-2">by Vest Me</div>			
		</div>

		<div id="navbar">
			<a id="top-link-signup" href="#" onclick="scroll_to_top()">Sign Up</a> |
			<a id="top-link-returns" href="#" onclick="top_link_scroll('returns')">Our Returns</a> |
			<a id="top-link-how" href="#" href="#" onclick="top_link_scroll('how')">How It Works</a> |
			<a id="top-link-what" href="#" href="#" onclick="top_link_scroll('what')">What Do I Do</a> |
			<a id="top-link-who" href="#" onclick="top_link_scroll('who')">Who We Are</a> |
			<a id="top-link-vision" href="#" href="#" onclick="top_link_scroll('vision')">Vision</a>
		</div>

		<script>
		function scroll_to_top(){
			$("html, body").animate({scrollTop: 0}, 1000);
		}
		function top_link_scroll(link_target) {
			$("html, body").animate(
				{ scrollTop: $('#section-' + link_target).offset().top - 70 }, 1000);
		}

		$("#navbar a").click(function(event) {
		  event.preventDefault();
		});
		</script>

	</div>
</div>

<div id="poster">
	<div class="content">
		<h1>Unlock the potential of your Microsoft 401k</h1>

		<div class="poster-blurb">

		<h3>We provide a better way to invest your 401k with reduced volatility and higher returns</h3>

			=> Personalized for Microsoft 401k<br />
			=> Easy to follow monthly rebalance signals<br />
			=> Made by Microsoft employees for Microsoft employees<br />
			=> It's free!  Just takes 5 minutes per month

		</div>

		<div class="chartbox1">Some initial chart goes here?  Do we actually need a chart here if we have a chart section below?  Maybe we just need a stock image of a person who is super happy because he's maximing the potential of his 401k... :-)</div>

		<% if (notice =~ /SIGNUP_ERROR/) == 0 %>
		<div class="error-div">
			<% if notice == "SIGNUP_ERROR_EMAIL_EMPTY" %><%= "Dude, you can't just leave this shit blank." %>
			<% elsif notice == "SIGNUP_ERROR_EMAIL_INVALID" %><%= "I said @microsoft or @gmail.  This is why we can't have nice things." %>
			<% elsif notice == "SIGNUP_ERROR_EMAIL_DUPLICATE" %><%= "Tricky guy.  You're already signed up, homie..." %>
			<% elsif notice == "SIGNUP_ERROR_UNKNOWN" %><%= "Something extremely unusual happened.  We're looking into it." %>
			<% else %><%= "Something superbly unusual happened.  We're looking into it." %>
			<% end %>
		</div>
		<% elsif %>
		&nbsp;
		<% end %>

		<%= form_for (@user = User.new) do |f| %>
		  <div class="field actions">
		    <%= f.text_field :email, 
		    :id => "user_email",
		    :class => "form-text-field",
		    :placeholder => "enter your @microsoft or @gmail email",
		    :value => params[:email] %><%= f.submit "Sign Up!", 
		    	:class => "form-button" %>
		  </div>
		<% end %>

		<script>
		// PREVENT MULTIPLE FORM SUBMISSIONS
		$("#new_user").submit(function() {
		    $(this).submit(function() {
		        return false;
		    });
		    return true;
		});
		</script>

	</div>
</div>

<div id="main">
	<div class="content">
		<div class="main-section" id="section-returns">
			<h2>Our Returns</h2>
			<p>
			Our returns are awesome!  Check out these charts.  EVERYONE loves charts...
			</p>
			<p>
			{CHARTS}
			</p>
			<p>
			See, I told you the charts were cool.
			</p>
		</div>
		<div class="main-section" id="section-how">
			<h2>How It Works</h2>
			<p>
			You've probably heard about the difference between stocks and bonds, and in particular that stocks are "risker."  Well, generally speaking, that is true, and that's a core part of how this works...
			</p>
			<p>
			First, we measure and track market risk.  Then, when the market risk is high, we put more money into bonds -- this is to protect you against a stock market crash, like in 2008.  When market risk is low, we put more money into stocks -- this is so you maximize gains when the stock market is doing well.  And the extra secret sauce: we tailor this to the invesment options available under the Microsoft 401k plan.
			</p>
		</div>
		<div class="main-section" id="section-what">
			<h2>What Do I Do</h2>
			<p>
			It's so easy!  Every month, we'll send you our recommendation for asset allocations.  We'll tell you step-by-step how to log into your account and update your 401k account allocations to maximize performance and minimize risk.
			</p>
		</div>		
		<div class="main-section" id="section-who">
			<h2>Who We Are</h2>
			<div class="three-column-div three-column-margin">
			<div class="picbox">Joe's Pic</div>
				<p>
				Joe is a product guy from Microsoft, and he's passionate about investment.  He has 3 kids and a playground in his backyard that rivals any public park.
				</p>
			</div>
			<div class="three-column-div three-column-margin">
			<div><img src="assets/VestMe-Gary.jpg" alt="Gary" /></div>
				<p>
				Gary is another Microsoftie product guy.  He's also web development nerd and he'll talk your ear off about the benefits of a plant-based diet.
				</p>
			</div>
			<div class="three-column-div">
			<div class="picbox">Xavier's Pic</div>
				<p>
				Xavier is an investment guru.  He is a CFA and worked for many years as an analyst building financial models.
				</p>
			</div>
		</div>
		<div class="main-section clear-div" id="section-vision">
			<h2>Vision</h2>
			<p>
			Our vision is to help people get the most out of the 401k accounts.
			</p>
		</div>
	</div>

	<div id="footer">
		<div class="content">
			<h4>Footer</h4>
			<p>
			We are NOT investment advisors.  See our <a href="terms">terms</a>.
			</p>
		</div>
	</div>
</div>

